<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Fundraisers</title>
</head>
<body>
    <H1 >CrowdFunding.com</H1>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home </a>
                <a class="nav-item nav-link" href="/fundraisers">Fundraisers </a>
                <a class="nav-item nav-link" href="#">my contributions</a>
                <a class="nav-item nav-link " href="#">Start a fundraise</a>
            </div>
        </div>
    </nav>

    <h2>List of Fundraisers</h2>

    <br>

    <form class="form-inline my-2 my-lg-0 col" th:action="@{/fundraisers/search}" method="get" >
        <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search (Location or target Amount)" aria-label="Search">
        <br>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <br>

    <div class="row" th:fragment="list" xmlns:th="http://www.thymeleaf.org">
        <div th:each="fundraiser : ${fundraisers}" class="col-sm-3">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title" th:text="${fundraiser.name}">Product name</h5>
                    <p class="card-text" >Email: <span th:text="${fundraiser.email}">Email</span></p>
                    <p class="card-text">location:  <span th:text="${fundraiser.location}"></span></p>
                    <p class="card-text" >Target Amount: <span th:text="${fundraiser.targetamount}">target</span></p>
                    <p class="card-text" >Current Amount: <span th:text="${fundraiser.currentamount}">target</span></p>
                    <p class="card-text" th:text="${fundraiser.purpose}">Purpose</p>
                    <a href="#" class="btn btn-primary" th:href="@{/contribute/{id} (id=${fundraiser.id})}") name="fundraiserid" >Contribute</a>
                    <p class="card-text"><small class="text-muted"><span th:text="${fundraiser.targetdate}"> target Date </span></small></p>
                </div>
            </div>
        </div>
    </div>








</body>
</html>